<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>mp</servlet-name>
        <servlet-class>p1.mp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>main</servlet-name>
        <servlet-class>com.dataflair.mp3.dataflair.mp3musicplayer.main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>urls</servlet-name>
        <servlet-class>com.dataflair.mp3.dataflair.mp3musicplayer.urls</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mp</servlet-name>
        <url-pattern>/mp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>main</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>urls</servlet-name>
        <url-pattern>/urls</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
